<h2>Documents disponibles</h2>
<div style="color:red">{{ message }}</div>

<table *ngIf="documents.length > 0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Titre</th>
      <th>Auteur</th>
      <th>Type</th>
      <th>Quantité Dispo</th>
      <th>Action</th> <!-- colonne action -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let doc of documents">
      <td>{{ doc.docId }}</td>
      <td>{{ doc.docTitre }}</td>
      <td>{{ doc.docAuteur }}</td>
      <td>{{ doc.docType }}</td>
      <td>{{ doc.docQuantiteDispo }}</td>
      <td>
        <button (click)="onEmprunter(doc.docId)">Emprunter</button>
      </td>
    </tr>
  </tbody>
</table>

<p *ngIf="documents.length === 0 && !message">
  Aucun document disponible.
</p>
