<h2>Recommandations personnalisées</h2>
<div style="color:red">{{ message }}</div>

<!-- Affichage du tableau si on a des docs -->
<table *ngIf="recommendations.length > 0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Titre</th>
      <th>Auteur</th>
      <th>Type</th>
      <th>Quantité Dispo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of recommendations">
      <td>{{ d.docId }}</td>
      <td>{{ d.docTitre }}</td>
      <td>{{ d.docAuteur }}</td>
      <td>{{ d.docType }}</td>
      <td>{{ d.docQuantiteDispo }}</td>
    </tr>
  </tbody>
</table>
