<h2>Emprunter un document</h2>

<div style="color:red">{{ message }}</div>

<div>
  <label>Document :</label>
  <select [(ngModel)]="selectedDocId" name="selectedDocId">
    <option value="">-- Choisir un document --</option>
    <option *ngFor="let d of documentsDispo" [value]="d.docId">
      {{ d.docTitre }} (Dispo: {{ d.docQuantiteDispo }})
    </option>
  </select>
</div>

<div>
  <mat-form-field appearance="fill">
    <mat-label>Date d’échéance</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="dateEcheance" name="dateEcheance">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>

<button (click)="onEmprunter()">Emprunter</button>
