<h2>Changer votre mot de passe</h2>
<div style="color:red">{{ errorMessage }}</div>
<div style="color:green">{{ successMessage }}</div>

<form (ngSubmit)="onSubmit()">
  <div>
    <label>Ancien mot de passe :</label>
    <input type="password" [(ngModel)]="oldPassword" name="oldPassword" required />
  </div>
  <div>
    <label>Nouveau mot de passe :</label>
    <input type="password" [(ngModel)]="newPassword" name="newPassword" required />
  </div>
  <div>
    <label>Confirmer le nouveau mot de passe :</label>
    <input type="password" [(ngModel)]="confirmNewPassword" name="confirmNewPassword" required />
  </div>

  <button type="submit">Changer</button>
</form>
