<h2>Menu Utilisateur</h2>

<div class="user-menu">
  <button (click)="goToEmprunter()">1. Emprunter un document</button>
   <button (click)="goToRetourner()">2. Retourner un document</button>
  <button (click)="goToMesEmprunts()">3. Voir mes emprunts</button>

  <button (click)="goToEmpruntsActifs()">4. Voir mes emprunts actifs</button>
  <button (click)="goToDocumentsDispo()">5. Afficher les documents disponibles</button>

  <button (click)="goToSearchDocuments()">6. Rechercher un document</button>


  <button (click)="goToRecommendations()">7. Voir mes Recommandations</button>
  

</div>
