<h2>Tableau de bord Administrateur</h2>

<div class="dashboard-container">
  <button (click)="goToUsers()">Gérer les utilisateurs</button>
  <button (click)="goToDocuments()">Gérer les documents</button>
  <button (click)="goToEmprunts()">Gérer les emprunts</button>
  <button (click)="goToEmpruntsActifs()">Lister les emprunts actifs</button>
  <button (click)="goToEmpruntsClotures()">Lister les emprunts clôturés</button>
  <button (click)="goToDocumentsDispo()">Afficher documents disponibles</button>
  <button (click)="goToEmpruntsByUser()">Voir les emprunts d’un utilisateur</button>
  <button (click)="goToSearchUser()">Rechercher un utilisateur</button>
  <button (click)="goToSearchDocuments()">Rechercher un document par critères</button>
  <button (click)="goToStatsEmpruntsByUser()">Afficher les emprunts par utilisateur</button>
  <button (click)="goToStatsEmpruntsByDocType()">Afficher les types de documents les plus empruntés</button>
</div>
